<h1 mat-dialog-title>Confirm Deletion</h1>
<div mat-dialog-content>Are you sure you want to delete this Project?</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button color="warn" (click)="confirm()">Delete</button>
</div>