<mat-toolbar color="primary">
 
  <span>Orange Application</span>
  <span class="example-spacer" ></span>
 <button mat-raised-button (click)="addProject()">
  Add Project
 </button>
</mat-toolbar>
<div class="main-body">
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)"  #input>
</mat-form-field>

<div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let projects"> {{projects.id}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
      <td mat-cell *matCellDef="let projects"> {{projects.title}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="completed_at">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> CompletedAt </th>
      <td mat-cell *matCellDef="let projects"> {{projects.completedAt |date}} </td>
    </ng-container>

    <!-- Fruit Column -->
    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> CreatedAt </th>
      <td mat-cell *matCellDef="let projects"> {{projects.createdAt |date}} </td>
    </ng-container>

    <ng-container matColumnDef="updated_at">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> UpdatedAt </th>
      <td mat-cell *matCellDef="let projects"> {{projects.updatedAt |date}} </td>
    </ng-container>

    <ng-container matColumnDef="deleted_at">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> DeletedAt </th>
      <td mat-cell *matCellDef="let projects"> {{projects.deletedAt |date}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Action </th>
      <td mat-cell *matCellDef="let project">
        <button  mat-icon-button color="primary" (click)="editForm(project)">
          <mat-icon>edit</mat-icon>
        </button>
        <button  mat-icon-button color="warn" (click)="deleteProject(project.id)">
          <mat-icon >delete</mat-icon>
        </button>
      </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
</div>
<div>
  <router-outlet></router-outlet>
</div>