
<div mat-dialog-title>
    <h1>Project</h1>
</div>
<form   [formGroup]="addForm" (ngSubmit)="onFormSubmit()">
  
<div mat-dialog-content class="content">
<div class="row">
    <!-- <mat-form-field appearance="outline">
        <mat-label>Id</mat-label>
        <input matInput formControlName="id">
      </mat-form-field> -->
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput type="text"  formControlName="title">
        <mat-error *ngIf="addForm.get('title')?.hasError('required')" style="color: red;">Title is required</mat-error>
      </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>CompletedAt</mat-label>
      <input matInput [matDatepicker]="completedPicker" formControlName="completedAt">
      <mat-error *ngIf="addForm.get('completedAt')?.hasError('required')" style="color: red;">completedAt is required</mat-error>
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="completedPicker"></mat-datepicker-toggle>
      <mat-datepicker #completedPicker></mat-datepicker>
    </mat-form-field>
  
    <!-- <mat-form-field appearance="outline">
      <mat-label>CreatedAt</mat-label>
      <input matInput [matDatepicker]="createdPicker" formControlName="createdAt">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="createdPicker"></mat-datepicker-toggle>
      <mat-datepicker #createdPicker></mat-datepicker>
    </mat-form-field> -->
  </div>
  
  <div class="row">
    <!-- <mat-form-field appearance="outline">
      <mat-label>UpdatedAt</mat-label>
      <input matInput [matDatepicker]="updatedPicker" formControlName="updatedAt">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="updatedPicker"></mat-datepicker-toggle>
      <mat-datepicker #updatedPicker></mat-datepicker>
    </mat-form-field> -->
  
    <mat-form-field appearance="outline">
      <mat-label>DeletedAt</mat-label>
      <input matInput [matDatepicker]="deletedPicker" formControlName="deletedAt">
      <mat-error *ngIf="addForm.get('deletedAt')?.hasError('required')" style="color: red;">deletedAt is required</mat-error>
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="deletedPicker"></mat-datepicker-toggle>
      <mat-datepicker #deletedPicker></mat-datepicker>
    </mat-form-field>
  </div>
  
</div>
<div mat-dialog-actions class="action">
    <button mat-raised-button  type="button" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary"  type="submit">{{data ? 'Update':'Save'}}</button>
</div>

</form>
